<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test addition of two numbers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
   
</head>

<body class= 'container'>
    <!-- Text instructions -->
    <div class = 'intro-box'>
        <h1> Instructions: </h1>
        <h3> enter two numbers(x & y) , the result will be rendered as a JSON object here.</h3>
        <h5>I.E.</h5>
        <p> 4 & 5</p>
        <p>Result: {"sum": 9}</p>
    </div>
    <!-- input form for numbers -->
    <form method="post" action="/test">
        <label for="x">x</label>
        <input type="number" name="x">
        <label for="y">y</label>
        <input type="number" name="y"><br>
        <input id='submit' type="submit" value="Submit">
    </form>
    <script src="/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>